@using WebApplication1.Models
@model Employee

<h1>Employee Detail</h1>

<div class="employee-card">

    <h3> Name : @Model.Name</h3>
    <h5> Age : @Model.Age</h5>
    <h5> Salary : @Model.Salary</h5>
</div>















